@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 11pt;
	background : #f9f9f9;
    overflow: hidden;
	height : 100%;
}

main {
	margin:0px;
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

button {
    height: 30px;
    width: 30px;
	background-color: #a00000;
    color: #eee;
    font-size: 15px;
    border: none;
    border-bottom: solid 2px #460202;
	border-radius: 4px;
	cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
	background-color: #cacaca;
    color: #7e7e7e;
    border-color: #7e7e7e;
}

button:not(:disabled):hover {
  background: #460202;
  transition: all .2s ease;
}

.centered-row {
	text-align:center;
}

.centered-row > * {
	display:inline-block; 
}

/* Style for body of application */
.playback {
    margin-top: 10px;
	text-align:center; 
}

.playback .controls button:not(:last-child) {
    border-right-color: #eee;
}

.playback label {
    color: #000000;
}

main .viz-container {
    left: 50%;
    position: relative;
    transform: translate(-50%);
}

main .viz-container,
main .diagram-widget-container,
main .grid-widget-container {
	width : 100%;
	height : 100%;
}

.tooltip .legend, .tooltip .legend rect {
	width:12px;
	height:2px;
}

.consent {
	text-align:center;
}

.consent .consent-container {
    max-width: 350px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.consent .consent-container .consent-message {
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px;
}

.consent .consent-container .consent-button {
    width: 100px;
    margin: 10px;
}

.viz-container:not(.DEVS) .diagram-widget-container,
.viz-container:not(.Cell-DEVS) .grid-widget-container {
	display:none;
}