@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body, .popup {
    font-family: sans-serif;
    font-size: 11pt;
	background : #f9f9f9;
}

.popup {
	background-color: #fff;
}

main {
    margin: 30px auto;
	min-width: 600px;
}
/*
@media (min-width: 768px) {
	main {
		width: 750px;
	}
}

@media (min-width: 992px) {
	main {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	main {
		width: 1170px;
	}
}
*/
h1, h2, h3, .popup .popup-title {
	font-family: 'Varela Round', sans-serif;
}

h1, h2 {
	margin: 0px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

h2 a {
	color: #198CFF;
}

h3 {
    font-size: 1.2em;
}

.popup button.close, 
.popup .popup-title,
.box i, 
.box label, 
a {
    color: #0051A3;
}

a {
    text-decoration: none;
}

button {
    height: 30px;
    width: 30px;
	background-color: #a00000;
    color: #eee;
    font-size: 15px;
    border: none;
    border-bottom: solid 2px #460202;
	border-radius: 4px;
	cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
	background-color: #cacaca;
    color: #7e7e7e;
    border-color: #7e7e7e;
}

.box:hover {
  background: #9eceff9e;
  border-color: #0051a3;
  transition: all .2s ease;
}

button:not(:disabled):hover {
  background: #460202;
  transition: all .2s ease;
}

.centered-row {
	text-align:center;
}

.centered-row > * {
	display:inline-block; 
}

/* Style for header */
.links-container {
	float:right;
}

.links-container a:hover {
    border-bottom: solid 3px #898989;
}

.second-row > * {
	display: inline-block;
}

/* Style for body of application */
.body-container {
    text-align: center;
	/*max-width: 1080px;*/
	overflow-x : auto;
}

.body-container, .button-column {
	vertical-align: top;
	margin : 15px 5px;
}

.body-container .save,
.body-container .box {
    width: 100%;
}

.body-container .save {
	margin-top : 10px;
}

.button-column {
    height: 100%;
	width: 30px;
}

.button-column button {
	margin-bottom: 6px;
}

.box {
    background: #fff;
	border-color: #198CFF;
	text-align:center;
}

.box i, .box label {
    font-weight: bold;
    word-wrap: break-word;
    padding: 0px 20px;
    box-sizing: border-box;
}

.playback {
	text-align:center; 
}

.playback .controls button:not(:last-child) {
    border-right-color: #eee;
}

.playback .record {
	display:none;
}

.playback label {
    color: #000000;
}


.popup button.close {
    border: none;
	outline: none;
}

.rise-loader ul li {
    cursor: pointer;
    font-size: 16px;
}

.rise-loader ul li:nth-child(even) {
    background: #eeeeee;
}
  
.rise-loader ul li:hover {
    background: #ccc;
}

.popup.popup-converter {
    max-height: 460px;
}

.popup.popup-rise {
	max-height : 350px;
}

.popup.popup-settings {
    max-height: 490px;
}

main .dropzone-container {
	width : 600px;
}

main.dropzone-visible .viz-container,
main:not(.diagram-visible) .diagram-widget-container,
main:not(.grid-visible) .grid-widget-container,
main:not(.dropzone-visible) .dropzone-container {
	display:none;
}

main .viz-container,
main .diagram-widget-container,
main .grid-widget-container {
	width : 100%;
	height : 100%;
}

.tooltip .legend, .tooltip .legend rect {
	width:12px;
	height:2px;
}

.consent {
	text-align:center;
}

.consent .consent-container {
    max-width: 350px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.consent .consent-container .consent-message {
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px;
}

.consent .consent-container .consent-button {
    width: 100px;
    margin: 10px;
}