.hidden {
	display:none;
}

.box {
    position: relative;
    border: 2.5px dashed silver;
    width: 200px;
    height: 250px;
    box-sizing: border-box;
}

.box input, .box button {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.box i {
    position: absolute;
	font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box label {
	position: absolute;
    width: 100%;
    font-weight: bold;
    word-wrap: break-word;
    padding: 0px 20px;
    box-sizing: border-box;
}

.box label.top {
    top: 60px;
}

.box label.bottom {
    bottom: 40px;
}

.tooltip {
	position: absolute;
    border: solid thin silver;
    border-radius: 4px;
    pointer-events: none;
    background: #fff;
	opacity : 0;
}

.tooltip > * {
    margin: 5px;
}

.tooltip .tooltip-title {
	font-weight : bold;
}

.tooltip .tooltip-label {
	margin: 5px;
}

.tooltip .tooltip-line > * {
	display:inline-block;
	vertical-align : middle;
	margin-left:3px;
	margin-right:3px;
}


.popup-blocker {
	position:fixed;
	top : 0px;
	bottom : 0px;
	right : 0px;
	left : 0px;
	z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
}

.popup {
    position: absolute;
    max-width: 300px;
    max-height: 375px;
    min-height: 175px;
    margin: auto;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
	
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 8px #111;
	z-index: 1500;
}

.popup .popup-header {
    position: relative;
}

.popup .popup-header .popup-title {
    margin: 10px;
}

.popup .popup-header .close {
    position: absolute;
    right: 5px;
    top: -5px;
    line-height: 28px;
	font-size: 28px;
    background: none;
    box-shadow: none;
}

.popup .popup-body {
	overflow-y: auto;
    top: 25px;
    bottom: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
}

.typeahead ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;

    width: 100%;
	
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
	
    position: absolute;
    z-index: 5000;
	
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
}

.typeahead.collapsed ul{
	display:none;
}

.typeahead:not(.collapsed) ul,
.typeahead .input { 
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.typeahead li {
	padding : 3px 8px;
	cursor: pointer;
}

.typeahead li:not(:first-child) {
	border-top : solid thin rgba(0, 0, 0, 0.1);
}

.typeahead li:hover, .typeahead li.active {
	background-color : rgba(70,137,194,1);
	color : #fff;
	font-weight : bold;
}

.typeahead.collapsed .input {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.typeahead .input {
	border: none;
	padding : 0px 8px;
	
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}