@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body, select {
    font-family: sans-serif;
    font-size: 11pt;
}

html, body { 
	background : #f9f9f9;
}

main {
    margin: 30px auto;
	max-width: 1200px;
	min-width: 900px;
}

h1, h2, h3 {
	font-family: 'Varela Round', sans-serif;
}

h1, h2 {
	margin: 0px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

h2 a {
	color: #198CFF;
}

h3 {
    font-size: 1.2em;
}

label, select {
    font-size: 13.5pt;
}

select {
	cursor:pointer;
}

a {
    text-decoration: none;
}

button {
    height: 30px;
	background-color: #198CFF;
    color: #eee;
    font-size: 15px;
    border: none;
    border-bottom: solid 2px #0051A3;
	border-radius: 4px;
	cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
	background-color: #cacaca;
    color: #7e7e7e;
    border-color: #7e7e7e;
}

button:not(:disabled):hover {
  background: #0051A3;
  transition: all .2s ease;
}

/* Style for header */
.links-container {
	float:right;
}

.links-container a:hover {
    border-bottom: solid 3px #898989;
}

.second-row > * {
	display: inline-block;
}

/* Style for body of application */
.playback {
	text-align:center; 
}

.playback .controls button:not(:last-child) {
    border-right-color: #eee;
}

.map-container {
	width:100%;
}

 /* Style for slider */ 
input[type="range"] {
    width:200px;
  }

/*Adding a background color makes the map look funky until we get our layer on the map */
/* .overlay-container {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;

    color: #131212;
    width: 300px;
    text-align: left;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;

}
.overlay-container #feature-additional-info::after{
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #555;
} */

.custom-control {
    bottom: 2px;
    left: 2px;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    /* background: no-repeat url(./.png); */
    border: 1px solid  rgba(0,60,136,.5);

}
.custom-control::after{
    content: ' ';
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    /* position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #555; */

}

.ol-unselectable.ol-control.layer-switcher {
    background-color: transparent;
    color: rgb(10, 9, 9);
    font-family: sans-serif;
    font-size: smaller;
    position: absolute;
    right: 10px;
    top: 50px;
    width: 30em;
    
}

.ol-unselectable.ol-control button {
    background-size: cover;
    font-size: 1.14em;
    background-color: rgba(0,60,136,.5);
}

.map{
    width: calc(100% - 100px);
    height:100%;
    position:absolute;
    left:100px;
  }

.sidebar{
    position:absolute;
    background-color: rgba(8,8,8, 1.1);
    width:100px;
    left:0;
    top:0;
    bottom: 100px;
    max-height:32%;


}

.legend-svg {
    background-color: rgba(255, 255, 255, 0.466);
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 133px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid  rgba(0,60,136,.5);
    
}

.ol-attribution.ol-unselectable.ol-control.ol-collapsed {
    text-align: right;
    top: 140px;
    right: 7px;
    max-width: calc(100% - 1.3em);
}

.ol-attribution.ol-unselectable.ol-control {
    text-align: right;
    bottom: 33.0em;
    right: 0.5em;
    top: 140px;
    right: 7px;
    max-width: calc(100% - 1.3em);
    max-height: fit-content;
}


.custom-zoom{
    top: 80px;
    right: 8px;
}
.custom-zoom button{
    background-color: rgba(40, 40, 40, .7);
    border-radius: 50%;
}

.sidebar.collapsed.sidebar-left{
    color: black;
}