@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body, main, .map {
	width: 100%;
	height: 100%;    
	padding: 0;
    margin: 0;
}

html, body, select, .popup {
	font-family: 'Varela Round', sans-serif;
    font-size: 11pt;
}

.ol-viewport, .ol-control button {
	cursor: pointer;
}

.playback {
	position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%,0);
    padding: 2px;
    background: rgba(255,255,255,.8);
    border-radius: 4px;
}

.playback button {
	height: 30px;
    width: 30px;
    background-color: rgba(0,60,136,.5);
    color: #eee;
    font-size: 15px;
    border: none;
    border-bottom: solid 2px #0051A3;
    border-radius: 4px;
    cursor: pointer;
}

.playback .controls button:not(:last-child) {
    border-right-color: #eee;
}

.ol-popup .ol-popup-content ul {
    padding: 0;
    margin: 4px;
}

.ol-layerswitcher>button {
	background-color: rgba(0,60,136,.5);
	font-size: 1.14em;
}

.ol-layerswitcher .panel label,
.ol-layerswitcher .panel input {
	cursor: pointer;
}

.ol-layerswitcher .panel .ol-layer-group {
	padding-top : 8px;
}

.ol-layerswitcher .panel .layerup,
.ol-layerswitcher .panel .ol-layer-group .layerswitcher-opacity,
.ol-layerswitcher .panel .ol-layer-tile .layerswitcher-opacity {
	display:none;
}

