@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, 
body.Simple, 
body.Simple .popup {
    font-family: sans-serif;
    font-size: 11pt;
	background : #f9f9f9;
}

body.Simple *:focus {
	outline:none;
}

body.Simple main {
    margin: 30px auto;
	min-width: 600px;
}

@media (min-width: 768px) {
	body.Simple main {
		width: 750px;
	}
}

@media (min-width: 992px) {
	body.Simple main {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	body.Simple main {
		width: 1170px;
	}
}

body.Simple h1, 
body.Simple h2, 
body.Simple h3, 
body.Simple table, 
body.Simple input, 
body.Simple select 
body.Simple .popup .popup-title {
	font-family: 'Varela Round', sans-serif;
}

body.Simple h1, 
body.Simple h2 {
	margin: 0px;
}

body.Simple h1 {
    font-size: 1.5em;
}

body.Simple h2 {
    font-size: 1.3em;
}

body.Simple h2 a {
	color: #198CFF;
}

body.Simple h3 {
    font-size: 1.2em;
}

.popup {
	background-color: #fff;
}

.popup button.close, 
.popup .popup-title,
.box-input-files i, 
.box-input-files label, 
body.Simple a {
    color: #0051A3;
}

body.Simple a {
    text-decoration: none;
}

body.Simple button {
    height: 30px;
    width: 30px;
	background-color: #198CFF;
    color: #eee;
    font-size: 15px;
    border: none;
    border-bottom: solid 2px #0051A3;
	border-radius: 4px;
	cursor: pointer;
}

body.Simple button:disabled {
    cursor: not-allowed;
	background-color: #cacaca;
    color: #7e7e7e;
    border-color: #7e7e7e;
}

body.Simple :not(.popup) button:not(:disabled):hover {
  background: #0a54a2;
  transition: all .2s ease;
}

body.Simple button.clear:not(:disabled):hover {
  background: #980000;
}

body.Simple .popup button.close:hover {
   background:none;	
}

body.Simple select, 
body.Simple input[type=text], 
body.Simple input[type=number] {
	cursor: pointer;
    height: 30px;
    border-radius: 4px;
    border: solid thin silver;
    font-size: 11pt;
}

.box-input-files .box-inner:hover {
  background: #eff7ff;
  border-color: #0051a3;
  transition: all .2s ease;
}

.box-input-files .files-container .file:hover {
  background: #eff7ff;
}

.box-input-files .box-inner {
    background: #fff;
	border-color: #198CFF;
}

.box-input-files i, 
.box-input-files label {
    font-weight: bold;
}

.centered-row {
	text-align:center;
}

.centered-row > * {
	display:inline-block; 
}

/* Style for header */
.links-container {
	float:right;
}

.links-container a:hover {
    border-bottom: solid 3px #898989;
}

.second-row > * {
	display: inline-block;
}

/* Style for body of application */
.body.Simple {
    text-align: center;
	max-width: 1080px;
	overflow-x : auto;
}

.body.Simple, .button-column {
	vertical-align: top;
	margin : 15px 5px;
}

.body.Simple .clear,
.body.Simple .parse {
    display:inline-block;
}

.body .clear {
    border-bottom: solid 2px #980000;
	background:#fd6e6e;
    width: 29%;
}

.body .parse {
    width: 69%;
	margin-top : 10px;
	margin-left : 2%;
}

.button-column {
    height: 100%;
	width: 30px;
}

.button-column button {
	margin-bottom: 6px;
}

.playback {
	text-align:center; 
	margin-top:10px;
}

.playback .controls button:not(:last-child) {
    border-right-color: #eee;
}

.popup button.close {
    border: none;
	outline: none;
}

.popup.popup-converter {
    max-height: 460px;
}

.popup.popup-rise {
	max-height : 350px;
}

body.Simple main .dropzone-container {
	width : 600px;
}

body.Simple main .view {
	display:inline-block;
}

.tooltip .legend, 
.tooltip .legend rect {
	width:12px;
	height:2px;
}